<nav class="top-bar row" role="navigation">
  <section class="top-bar-section">
    <ul>
      <li ng-class="{'active': vm.tab == 0 }"><a ng-click="vm.goTo('')">MISS TO MISSEY</a></li>
      <li ng-class="{'active': vm.tab == 1 }"><a ng-click="vm.goTo('ourstory')">OUR STORY</a></li>
      <li ng-class="{'active': vm.tab == 2 }"><a ng-click="vm.goTo('bridalparty')">BRIDAL PARTY</a></li>
      <li ng-class="{'active': vm.tab == 3 }"><a ng-click="vm.goTo('whenwhere')">WHEN & WHERE</a></li>
      <li ng-class="{'active': vm.tab == 4 }"><a ng-click="vm.goTo('accommodations')">ACCOMMODATIONS</a></li>
      <li ng-class="{'active': vm.tab == 5 }"><a ng-click="vm.goTo('registry')">REGISTRY</a></li>
    </ul>
  </section>
</nav>
